@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$color-white: #fff;
$color-black: #000;
$color-grey: rgb(129,
129,
129);
$color-green: rgba(120,
150,
41,
1);
$color-black-light: #e7e7e7;
$color-black-light-1: rgba(244,
244,
244,
0.4);
$color-grey-2: rgb(231,
231,
231);
$main-font: "Open Sans",
sans-serif;
$price-font: "Lobster",
sans-serif;
$break-point-tablet: 768px;