.account {
  .account-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    @media (max-width: $break-point-mobile) {
      flex-direction: column;
    }
    margin-bottom: 60px;
    .account-left {
      flex: 7;
    }
    .account-right {
      flex: 3;
      margin-left: 20px;
      h5 {
        padding: 24px 0;
        text-transform: uppercase;
        font-size: 14px;
        border-bottom: 1px $color-grey-2 solid;
      }
      .infor-item {
        line-height: 1.2;
        margin-top: 20px;
        display: flex;
        align-items: center;
        & > p {
          span {
            &:nth-child(1) {
              font-size: 20px;
            }
          }
        }
        i {
          margin-right: 20px;
        }
        span {
          display: block;
        }
      }
    }
    .account-header {
      font-size: 20px;
      padding: 20px 0;
      h3 {
        text-transform: uppercase;
      }
    }
    .account-body {
      .account-table {
        td.status {
          color: #f00;
          span {
            color: $color-black;
          }
        }
      }
    }
  }
}
