@import "components/hero.scss";
@import "components/banner.scss";
@import "components/imagegrid.scss";
@import "components/homefooter.scss";
@import "components/sliderfeedback.scss";
@import "components/sliderproduct.scss";
@import "components/products/productcard.scss";
.home {
  position: relative;
}
.max-width {
  max-width: 1200px;
  @media (max-width: $break-point-tablet) {
    width: 90% !important;
  }
  @media (max-width: $break-point-mobile) {
    width: 93% !important;
  }
}
